Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [7]:
df1=pd.Series(data=[4,8,15,16,23,42],dtype=int)

In [8]:
df1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int32

In [11]:
type(df1)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [12]:
#creating list vriable
list1=[8,9,10,11,12,13,14,15,16,17]

In [14]:
#applying pandas
import pandas as pd
df2=pd.Series(data=list1)

In [15]:
df2

0     8
1     9
2    10
3    11
4    12
5    13
6    14
7    15
8    16
9    17
dtype: int64

In [16]:
type(df2)

pandas.core.series.Series

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [23]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
df = df.reset_index(drop=True)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (numeric, string, boolean, etc.). It is similar to a table in a relational database or a spreadsheet, where data is organized in rows and columns.

A DataFrame consists of columns, each of which can be a different data type (e.g., integers, strings, floats, etc.). It provides a powerful way to manipulate and analyze data, offering various operations such as indexing, slicing, merging, grouping, and more.

On the other hand, a Series in Pandas is a one-dimensional labeled array that can store data of a single data type. It can be thought of as a single column of a DataFrame. A Series also provides similar functionalities to a DataFrame but on a smaller scale

In [24]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

# Create a Series
ages = pd.Series([25, 30, 27])
print(ages)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    25
1    30
2    27
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Some common functions include:

head() and tail(): These functions allow you to view the first or last few rows of the DataFrame, respectively. They are useful for quickly inspecting the structure and content of the DataFrame.

info(): This function provides a summary of the DataFrame, including the column names, data types, and the number of non-null values. It helps in understanding the overall structure and characteristics of the DataFrame.

describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It provides insights into the central tendency and spread of the data.

sort_values(): This function allows you to sort the DataFrame by one or more columns. It is useful for arranging the data in a specific order based on a particular criterion.

groupby(): This function enables grouping the data based on one or more columns, allowing you to perform aggregation operations, such as calculating sums, averages, or counts within each group. It is helpful for analyzing data based on different categories.

dropna(): This function allows you to remove rows or columns with missing values (NaN) from the DataFrame. It helps in handling missing data effectively.

fillna(): This function enables filling missing values in the DataFrame with a specified value or a calculated value (e.g., mean, median). It helps in data imputation and ensuring data completeness.

apply(): This function applies a function to each element or column of the DataFrame. It allows for custom data transformations and calculations.

In [26]:
import pandas as pd

# Sample data
data = {
    'Product': ['A', 'B', 'C'],
    'Quantity': [10, 5, 8],
    'Price': [20.5, 10.2, 15.0]
}

sales_data = pd.DataFrame(data)

# Function to calculate total sales
def calculate_total_sales(row):
    return row['Quantity'] * row['Price']

# Apply the function to create a new column 'Total Sales'
sales_data['Total Sales'] = sales_data.apply(calculate_total_sales, axis=1)

print(sales_data)

  Product  Quantity  Price  Total Sales
0       A        10   20.5        205.0
1       B         5   10.2         51.0
2       C         8   15.0        120.0

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while Panel is not.

In Pandas, a mutable object is one that can be modified after it is created. Let's discuss the mutability of Series, DataFrame, and Panel:

1. Series: A Pandas Series is mutable, meaning you can modify its elements after creation. You can assign new values to specific elements or slice the series to update a subset of elements.

2. DataFrame: Similar to Series, a DataFrame is mutable. You can modify the values in individual cells, add or remove columns, change column names, and perform various data manipulation operations. DataFrame provides flexibility for data modification and manipulation.

3. Panel: However, the Panel is not mutable. The Panel data structure has been deprecated since Pandas version 0.20.0. It was used for three-dimensional data storage, where data was organized in items, major axis, and minor axis. Since Pandas 0.20.0, the recommended approach for working with three-dimensional data is to use a multi-index DataFrame. Nevertheless, regardless of the deprecation, the Panel object was not mutable.

To summarize, both Series and DataFrame in Pandas are mutable, allowing you to modify their contents and structure. On the other hand, the Panel object is not mutable and has been deprecated in favor of using multi-index DataFrames for three-dimensional data storage.

Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can pass a dictionary of Series objects to the pd.DataFrame() function. Each Series will represent a column in the DataFrame, and the dictionary keys will be used as the column names

In [27]:
import pandas as pd

# Create the Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create the DataFrame
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female