In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [9]:
df[1:2]
#slicing

        course_name  duration
1  Machine Learning         3

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

### answer:

In pandas, loc and iloc are two different methods used to access and manipulate data in a DataFrame, but they are used for different purposes and have some key differences:

Label-based vs. Integer-based indexing:

loc: This method is primarily label-based indexing. It is used for selecting data by specifying row and column labels. You can use row and column labels to slice and access data. It includes the endpoint when slicing, just like typical Python slicing.

iloc: This method is integer-based indexing. It is used for selecting data by specifying row and column positions as integers. It does not include the endpoint when slicing, similar to Python's integer indexing.

Usage:

loc is typically used when you want to select data based on labels or conditions. For example, you can use df.loc[row_label, column_label] to access a specific element, or df.loc[row_label] to select an entire row based on its label.

iloc is used when you want to select data based on integer positions. For example, you can use df.iloc[row_position, column_position] to access a specific element, or df.iloc[row_position] to select an entire row based on its position.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
### then find the output for both new_df.loc[2] and new_df.iloc[2].

In [14]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [21]:
reindex=[3,0,1,2]
new_df=pd.DataFrame(df,index=reindex)

In [22]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [23]:
 new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [24]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### the new_df.loc[2] indicates the index 2 containing row ,that is big data and duration is 6hrs
#### the new_df.iloc[2] indicates irregular of naming it focus on posotional index that is machine learning and duration is 3hrs

In [39]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [26]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.826926  0.464007  0.586710  0.014029  0.581453  0.236683
2  0.175517  0.510034  0.962431  0.273521  0.933272  0.944852
3  0.176013  0.119839  0.473505  0.532423  0.656190  0.785639
4  0.405273  0.656007  0.243095  0.633238  0.949553  0.014797
5  0.603198  0.202376  0.927969  0.436247  0.353669  0.029137
6  0.288055  0.785211  0.637030  0.246046  0.955780  0.088178

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [40]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.862658  0.618819  0.590442  0.602161  0.318882  0.285164
2  0.794056  0.073190  0.955493  0.484008  0.679768  0.824946
3  0.257969  0.441247  0.946372  0.039903  0.254484  0.379274
4  0.683429  0.521467  0.252920  0.001455  0.530862  0.756802
5  0.315681  0.665753  0.297505  0.588511  0.457375  0.834490
6  0.602848  0.483498  0.992317  0.327821  0.064092  0.751644

In [28]:
df1.mean()

column_1    0.412497
column_2    0.456246
column_3    0.638457
column_4    0.355917
column_5    0.738319
column_6    0.349881
dtype: float64

In [29]:
df1['column_2'].std()

0.25639636343022926

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [41]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.862658  0.618819  0.590442  0.602161  0.318882  0.285164
2  0.794056  0.073190  0.955493  0.484008  0.679768  0.824946
3  0.257969  0.441247  0.946372  0.039903  0.254484  0.379274
4  0.683429  0.521467  0.252920  0.001455  0.530862  0.756802
5  0.315681  0.665753  0.297505  0.588511  0.457375  0.834490
6  0.602848  0.483498  0.992317  0.327821  0.064092  0.751644

In [44]:
df1.loc[2,'column_2']='iamstring'

In [45]:
df1

   column_1   column_2  column_3  column_4  column_5  column_6
1  0.862658   0.618819  0.590442  0.602161  0.318882  0.285164
2  0.794056  iamstring  0.955493  0.484008  0.679768  0.824946
3  0.257969   0.441247  0.946372  0.039903  0.254484  0.379274
4  0.683429   0.521467  0.252920  0.001455  0.530862  0.756802
5  0.315681   0.665753  0.297505  0.588511  0.457375  0.834490
6  0.602848   0.483498  0.992317  0.327821  0.064092  0.751644

In [46]:
df1.mean()

C:\Users\Sumanth\AppData\Local\Temp\ipykernel_11752\2053335143.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()

column_1    0.586107
column_3    0.672508
column_4    0.340643
column_5    0.384244
column_6    0.638720
dtype: float64

#### The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.

#### here the datatype is considered as object so the mean calculation can only be done on numeric and floating point so it returns the error

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

### answer:
In pandas, the term "window functions" refers to a class of functions that operate on a "window" or a moving subset of data in a DataFrame or Series. These functions are also known as "rolling" or "expanding" functions, and they are particularly useful for time-series data and other sequential data where you want to compute statistics or perform calculations over a specific window of observations.

Window functions are typically used with the rolling() and expanding() methods in pandas. Here's an overview of these functions and their types:

Rolling Window Functions:

Rolling window functions compute a statistic for a fixed-size window of data as it moves through the data.
Types of rolling window functions:

rolling.mean() / rolling.sum() / rolling.min() / rolling.max(): Calculate the mean, sum, minimum, or maximum of values in a rolling window.
rolling.std() / rolling.var(): Compute the standard deviation or variance of values in a rolling window.
rolling.median() / rolling.quantile(): Calculate the median or quantiles of values in a rolling window.
rolling.apply(): Apply a custom function to the data within a rolling window.
rolling.count(): Count the number of non-NaN/None values in a rolling window.
rolling.corr() / rolling.cov(): Compute the rolling correlation or covariance between two time series.
Expanding Window Functions:

Expanding window functions compute a statistic for all data points from the beginning up to the current data point.
Types of expanding window functions:

expanding.mean() / expanding.sum() / expanding.min() / expanding.max(): Calculate the mean, sum, minimum, or maximum of values in an expanding window.
expanding.std() / expanding.var(): Compute the standard deviation or variance of values in an expanding window.
expanding.median() / expanding.quantile(): Calculate the median or quantiles of values in an expanding window.
expanding.apply(): Apply a custom function to all data points in an expanding window.
expanding.count(): Count the number of non-NaN/None values in an expanding window.

In [47]:
import pandas as pd
import numpy as np

# Create a DataFrame with time-series data
data = {'Value': np.random.randn(10)}
df = pd.DataFrame(data)

# Calculate the rolling mean over a window of size 3
rolling_mean = df['Value'].rolling(window=3).mean()

print(df)
print(rolling_mean)

      Value
0  1.949181
1  0.499227
2  2.336537
3 -0.351457
4  1.140477
5 -0.948522
6 -1.944962
7 -0.045683
8  0.023176
9 -0.709752
0         NaN
1         NaN
2    1.594982
3    0.828102
4    1.041853
5   -0.053167
6   -0.584336
7   -0.979722
8   -0.655823
9   -0.244086
Name: Value, dtype: float64

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [48]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_date = datetime.now()

# Extract the current month and year using pandas.to_datetime
current_month_year = pd.to_datetime(current_date).strftime('%B %Y')

print("Current Month and Year:", current_month_year)

Current Month and Year: September 2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) andcalculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [49]:
import pandas as pd

# Function to get a valid date input from the user
def get_valid_date_input(prompt):
    while True:
        try:
            date_str = input(prompt + " (YYYY-MM-DD): ")
            date = pd.to_datetime(date_str)
            return date
        except ValueError:
            print("Invalid date format. Please use YYYY-MM-DD.")

# Get the first date from the user
start_date = get_valid_date_input("Enter the start date")

# Get the second date from the user
end_date = get_valid_date_input("Enter the end date")

# Calculate the time difference
time_difference = end_date - start_date

# Extract days, hours, and minutes from the time difference
days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes = remainder // 60

# Display the result
print(f"Time Difference: {days} days, {hours} hours, {minutes} minutes")

Enter the start date (YYYY-MM-DD): 2023-08-30
Enter the end date (YYYY-MM-DD): 2023-09-10
Time Difference: 11 days, 0 hours, 0 minutes

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specifiedcolumn to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [50]:
import pandas as pd

# Function to read a CSV file and convert a column to categorical
def convert_to_categorical(csv_file, column_name, category_order):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_file)

        # Convert the specified column to categorical
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

        # Sort the DataFrame by the categorical column
        sorted_df = df.sort_values(by=[column_name])

        return sorted_df
    except FileNotFoundError:
        print("File not found. Please check the file path.")
    except KeyError:
        print("Column not found in the CSV file. Please check the column name.")

# Prompt the user for file path, column name, and category order
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Call the function to convert and sort the data
result_df = convert_to_categorical(file_path, column_name, category_order)

# Display the sorted data
if result_df is not None:
    print("\nSorted Data:")
    print(result_df)

Enter the CSV file path: D:\Sumanth\Downloads\titanic (1).csv
Enter the column name to convert to categorical: Cabin
Enter the category order (comma-separated): 1,2,3

Sorted Data:
    Cabin            Ticket number  Survived
0     NaN         A/5 21171      5         0
1     NaN          PC 17599      3         1
2     NaN  STON/O2. 3101282      6         1
3     NaN            113803      3         1
4     NaN            373450      A         0
..    ...               ...    ...       ...
886   NaN            211536      3         0
887   NaN            112053      3         1
888   NaN        W./C. 6607      1         0
889   NaN            111369      2         1
890   NaN            370376      3         0

[891 rows x 4 columns]

### Q10. Write a Python program that reads a CSV file containing sales data for different products andvisualizes the data using a stacked bar chart to show the sales of each product category over time. Theprogram should prompt the user to enter the file path and display the chart.

In [51]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read CSV file and create a stacked bar chart
def visualize_sales_data(csv_file):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_file)

        # Pivot the DataFrame to prepare for the stacked bar chart
        pivoted_df = df.pivot(index='Date', columns='Product Category', values='Sales')

        # Create the stacked bar chart
        ax = pivoted_df.plot(kind='bar', stacked=True, figsize=(10, 6))
        plt.xlabel('Date')
        plt.ylabel('Sales')
        plt.title('Sales by Product Category Over Time')
        plt.legend(title='Product Category')

        # Show the chart
        plt.show()
    except FileNotFoundError:
        print("File not found. Please check the file path.")

# Prompt the user for the file path
file_path = input("Enter the CSV file path: ")

# Call the function to visualize sales data
visualize_sales_data(file_path)

Enter the CSV file path:
File not found. Please check the file path.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.

In [52]:
import pandas as pd
import random

# Generate 20 rows of student data
data = {'Student ID': [f'Student{i+1}' for i in range(20)],
        'Test Score': [random.randint(60, 100) for _ in range(20)]}

# Create a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('student_scores.csv', index=False)

print("Student data saved to 'student_scores.csv'.")

Student data saved to 'student_scores.csv'.

In [53]:
df

   Student ID  Test Score
0    Student1          99
1    Student2          62
2    Student3          89
3    Student4          85
4    Student5          91
5    Student6          66
6    Student7          87
7    Student8          98
8    Student9          80
9   Student10          98
10  Student11          65
11  Student12          66
12  Student13          85
13  Student14          88
14  Student15          69
15  Student16          91
16  Student17          83
17  Student18          98
18  Student19          88
19  Student20          64

In [54]:
import pandas as pd

# Function to calculate mean, median, and mode
def calculate_statistics(data):
    mean_score = data['Test Score'].mean()
    median_score = data['Test Score'].median()
    mode_score = data['Test Score'].mode()
    return mean_score, median_score, mode_score

# Function to display results in a table
def display_results(mean, median, mode):
    results_df = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Test Score': [mean, median, mode[0] if not mode.empty else 'N/A']
    })
    print(results_df)

# Prompt the user for the CSV file path
file_path = input("Enter the CSV file path containing student data: ")

try:
    # Read the CSV file into a DataFrame
    student_data = pd.read_csv(file_path)

    # Calculate mean, median, and mode
    mean_score, median_score, mode_score = calculate_statistics(student_data)

    # Display the results in a table
    display_results(mean_score, median_score, mode_score)

except FileNotFoundError:
    print("File not found. Please check the file path.")
except pd.errors.EmptyDataError:
    print("The CSV file is empty or contains no data.")
except pd.errors.ParserError:
    print("Error parsing the CSV file. Please check the file format.")
except KeyError:
    print("Required columns 'Student ID' and 'Test Score' not found in the CSV file.")
except Exception as e:
    print(f"An error occurred: {e}")

Enter the CSV file path containing student data: C:\Users\Sumanth\assignments\student_scores.csv
  Statistic  Test Score
0      Mean        82.6
1    Median        86.0
2      Mode        98.0