Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
# (i) String
my_string = "Hello, World!"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14

# (iv) Tuple
my_tuple = (1, 2, 3, 4, 5)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

(i) var1 = ' ': var1 is a string variable assigned an empty string value.

(ii) var2 = '[ DS , ML , Python]': var2 is a string variable assigned a string value '[ DS , ML , Python]'. Note that the string contains spaces, commas, and square brackets, which are considered part of the string and not individual elements.

(iii) var3 = ['DS', 'ML', 'Python']: var3 is a list variable assigned a list value ['DS', 'ML', 'Python']. The list contains three string elements: 'DS', 'ML', and 'Python'.

(iv) var4 = 1.0: var4 is a float variable assigned a float value 1.0.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / (Division Operator):
The / operator is used for division. It performs floating-point division and returns the quotient of the division operation.

In [4]:
a = 10
b = 3
result = a / b
print(result)  # Output: 3.3333333333333335

3.3333333333333335

(ii) % (Modulo Operator):
The % operator is used for the modulo operation. It returns the remainder of the division operation.

In [5]:
a = 10
b = 3
result = a % b
print(result)  # Output: 1

1

(iii) // (Floor Division Operator):
The // operator is used for floor division. It performs division and returns the floor value of the quotient, which is the largest integer less than or equal to the result.

In [6]:
a = 10
b = 3
result = a // b
print(result)  # Output: 3

3

(iv) ** (Exponentiation Operator):
The ** operator is used for exponentiation. It raises a number to a power.

In [7]:
a = 2
b = 3
result = a ** b
print(result)  # Output: 8

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], (4, 5, 6), {"name": "John", "age": 25}, None, 'A', 1000]

for element in my_list:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'name': 'John', 'age': 25} <class 'dict'>
None <class 'NoneType'>
A <class 'str'>
1000 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [9]:
A = 36
B = 6
count = 0

while A % B == 0:
    A /= B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [10]:
my_list = [12, 7, 18, 5, 9, 27, 14, 36, 21, 10, 33, 16, 22, 39, 2, 30, 8, 20, 15, 25, 42, 3, 17, 6, 11]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
5 is not divisible by 3.
9 is divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
36 is divisible by 3.
21 is divisible by 3.
10 is not divisible by 3.
33 is divisible by 3.
16 is not divisible by 3.
22 is not divisible by 3.
39 is divisible by 3.
2 is not divisible by 3.
30 is divisible by 3.
8 is not divisible by 3.
20 is not divisible by 3.
15 is divisible by 3.
25 is not divisible by 3.
42 is divisible by 3.
3 is divisible by 3.
17 is not divisible by 3.
6 is divisible by 3.
11 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In Python, data types can be categorized as either mutable or immutable based on whether they can be modified after they are created. Here's a brief explanation of mutable and immutable data types, along with examples illustrating their properties:

Mutable Data Types:
Mutable data types are those that can be modified or changed after they are created.
If a mutable object is modified, it retains the same identity or memory location.
Examples of mutable data types in Python include lists, dictionaries, and sets.

In [11]:
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

my_list[0] = 5
print(my_list)  # Output: [5, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]
[5, 2, 3, 4]

Immutable Data Types:
Immutable data types, once created, cannot be modified. Any operation on an immutable object creates a new object with the modified value.
If an immutable object is modified, it creates a new object with the updated value, while the original object remains unchanged.
Examples of immutable data types in Python include integers, floats, strings, and tuples.

In [12]:
my_string = "Hello"
print(my_string)  # Output: Hello

new_string = my_string + ", World!"
print(new_string)  # Output: Hello, World!

print(my_string)  # Output: Hello (original string unchanged)

Hello
Hello, World!
Hello