## ASSIGNMENT SQL

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

### Ans: A database is a collection of organized data that is stored and accessed electronically. It is designed to manage large amounts of information efficiently, allowing users to retrieve, add, delete and modify data quickly and easily.

### SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of databases that differ in their data storage and retrieval approaches.

### SQL databases are structured and use a fixed schema, which means that the data is stored in tables with predefined columns and rows. SQL databases are relational, meaning they can store data in tables that are connected through keys or relationships. This structure makes it easy to query and manipulate data, using SQL commands to perform tasks such as creating, reading, updating, and deleting records. SQL databases are commonly used for managing structured data such as financial records, customer information, and inventory management.

### On the other hand, NoSQL databases are designed for storing and managing unstructured data such as documents, videos, images, and social media data. Unlike SQL databases, NoSQL databases do not have a fixed schema, which means they can store data in a variety of ways such as key-value pairs, document-based, graph-based, or column-oriented. NoSQL databases can handle large volumes of data and offer high scalability, availability, and performance. NoSQL databases are often used for managing unstructured data in big data applications, web applications, and real-time data processing systems.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### Ans. DDL stands for Data Definition Language, which is a set of SQL commands used to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

### The following are some commonly used DDL commands in SQL:

### 1. CREATE: The CREATE command is used to create a new database object, such as a table or view. For example, the following command creates a new table called "employees" with three columns - id, name, and salary:

  CREATE TABLE employees( id INT PRIMARY KEY, namne VARCHAR(50), salary DECIMAL(10,2));

### 2. DROP: The DROP command is used to remove an existing database object, such as a table or view. For example, the following command drops the "employees" table:

   DROP TABLE employees;
   
### 3. ALTER: The ALTER command is used to modify an existing database object, such as adding or removing columns from a table. For example, the following command adds a new column called "age" to the "employees" table:
   
   ALTER TABLE employees
   ADD age INT;
   
   
### 4. TRUNCATE: The TRUNCATE command is used to delete all data from a table, while leaving the table structure intact. For example, the following command removes all data from the "employees" table:
    
   TRUNCATE employees;
   
   
#### In summary, DDL commands are used to define and manage the structure of a database, including creating new objects, modifying existing objects, and deleting objects. The most commonly used DDL commands are CREATE, DROP, ALTER, and TRUNCATE.

### Que.3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### Ans: DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data within a database. DML commands are used to insert, update, and delete data from tables.

### The following are some commonly used DML commands in SQL:

### 1. INSERT: The INSERT command is used to add new data into a table. For example, the following command adds a new row into the "employees" table:
INSERT INFO employees(id,name,salary)
 VALUES(1, 'KRISHNA',50000);

### 2.UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following command updates the salary of the employee with an ID of 1:
 UPDATE employees
SET salary = 55000
WHERE id = 1;

### 3. DELETE: The DELETE command is used to remove data from a table. For example, the following command deletes the employee with an ID of 1 from the "employees" table:
DELETE FROM employees
WHERE id = 1;

### In summary, DML commands are used to manipulate data within a database, including adding new data, modifying existing data, and deleting data. The most commonly used DML commands are INSERT, UPDATE, and DELETE.

## Q4. What is DQL? Explain SELECT with an example.

### Ans. DQL stands for Data Query Language, which is a set of SQL commands used to retrieve and query data from a database. DQL commands are used to retrieve data from one or more tables, and to perform various operations on the data, such as sorting, grouping, filtering, and aggregating.

### The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database. The SELECT command allows you to specify the columns you want to retrieve, the tables you want to retrieve data from, and any conditions or criteria that should be applied to the data.

#### Here is an example of a SELECT command that retrieves all records from the "employees" table

    SELECT *
    FROM employees;

#### In this example, the asterisk (*) is a wildcard that represents all columns in the "employees" table. The SELECT command retrieves all records and all columns from the table.
#### You can also specify specific columns to retrieve by listing them after the SELECT keyword, separated by commas. For example, the following SELECT command retrieves only the "name" and "salary" columns from the "employees" table:
    SELECT name, salary
    FROM employees;
#### In addition to retrieving data, the SELECT command can also perform various operations on the data, such as sorting, grouping, filtering, and aggregating. For example, the following SELECT command retrieves all employees whose salary is greater than 50000, and sorts the results by salary in descending order:
     
      SELECT *
    FROM employees
    WHERE salary > 50000
    ORDER BY salary DESC;

#### In summary, DQL commands are used to retrieve and query data from a database, and the most commonly used DQL command is SELECT. The SELECT command allows you to retrieve data from one or more tables, and to perform various operations on the data, such as sorting, grouping, filtering, and aggregating.

### Q5. Explain Primary Key and Foreign Key.

### Primary Key and Foreign Key are two important concepts in relational database design. They are used to establish relationships between tables and ensure data integrity.

### A Primary Key is a column or a combination of columns in a table that uniquely identifies each row of data in that table. Primary Keys ensure that each row in a table is uniquely identifiable and can be referenced from other tables. Primary Keys are typically used as the basis for defining relationships between tables in a relational database.

### For example, let's say we have two tables - "customers" and "orders". The "customers" table has a Primary Key column called "customer_id", which is a unique identifier for each customer. The "orders" table has a Foreign Key column called "customer_id", which is used to reference the "customer_id" column in the "customers" table. This ensures that each order in the "orders" table is associated with a unique customer in the "customers" table.

### A Foreign Key is a column or a combination of columns in a table that references the Primary Key of another table. Foreign Keys are used to establish relationships between tables and ensure data integrity. A Foreign Key column in one table can only contain values that exist in the Primary Key column of the referenced table.

### For example, let's say we have two tables - "employees" and "departments". The "employees" table has a Foreign Key column called "department_id", which is used to reference the Primary Key column "department_id" in the "departments" table. This ensures that each employee in the "employees" table is associated with a department in the "departments" table.

### In summary, a Primary Key is a column or a combination of columns in a table that uniquely identifies each row of data in that table, while a Foreign Key is a column or a combination of columns in a table that references the Primary Key of another table. Primary Keys ensure data uniqueness, while Foreign Keys establish relationships between tables and ensure data integrity.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### Ans. To connect to MySQL using Python, you need to first install the MySQL Connector Python package. You can install it using pip, the Python package manager, by running the following command in your terminal:
        
        pip install mysql-connector-python

#### Once you have installed the package, you can connect to your MySQL database using the following Python code:
        
        import mysql.connector

###### Establish a connection to the MySQL database
cnx = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

###### Create a cursor object to execute SQL queries
cursor = cnx.cursor()

###### Execute a SQL query using the execute() method
cursor.execute("SELECT * FROM yourtable")

###### Fetch the result of the query using the fetchall() method
result = cursor.fetchall()

###### Print the result of the query
for row in result:
  print(row)

###### Close the cursor and connection objects
cursor.close()
cnx.close()

### In the code above, we first import the "mysql.connector" module and then establish a connection to the MySQL database using the "mysql.connector.connect()" method. We pass the connection details, including the host, username, password, and database name, as arguments to this method.

###  Next, we create a cursor object using the "cursor()" method of the connection object. The cursor object allows us to execute SQL queries and fetch the results.

### We then execute a SQL query using the "execute()" method of the cursor object, passing the SQL query as an argument. The "execute()" method executes the SQL query and returns the result, which can be fetched using the "fetchall()" method of the cursor object.

### Finally, we print the result of the query using a for loop, and then close the cursor and connection objects using the "close()" method.

### In summary, the "cursor()" method of the connection object is used to create a cursor object, which allows us to execute SQL queries and fetch the results. The "execute()" method of the cursor object is used to execute a SQL query, and the "fetchall()" method is used to fetch the result of the query.

### Q7. Give the order of execution of SQL clauses in an SQL query.

### Ans.The order of execution of SQL clauses in an SQL query is as follows:

1. FROM - This clause specifies the table or tables from which the data is to be selected.

2. WHERE - This clause filters the data based on a condition. It is used to retrieve only those records that meet a specific condition.

3. GROUP BY - This clause is used to group the data based on one or more columns.

4. HAVING - This clause is used to filter the data based on a condition that is applied to the grouped data.

5. SELECT - This clause is used to select the columns that will be displayed in the output.

6. DISTINCT - This clause is used to remove duplicates from the result set.

7. ORDER BY - This clause is used to sort the result set based on one or more columns.

8. LIMIT - This clause is used to limit the number of rows returned in the result set.

#### It's important to note that not all of these clauses are required in a SQL query. The clauses that are included will depend on the specific query and the requirements of the user. Also, it is possible to use some of these clauses in a different order depending on the specific query requirements. However, the above order represents a general guideline that is typically followed in most SQL queries.